name: Compilar
on: 
  push:
    paths-ignore:
      - '**.md'

jobs:
  trabajo_compilar:
    name: Generar archivos compilados
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./.github/acciones/build
